<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><ui:insert name="title" /></title>

	<!-- Bootstrap -->
	<h:outputStylesheet name="bootstrap/css/bootstrap.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	<h:outputStylesheet library="css" name="app.css" />

	<!-- jQuery -->
	<h:outputScript name="jquery/jquery-3.2.1.js" />
	<!-- Bootstrap -->
	<h:outputScript name="bootstrap/js/bootstrap.js" />
	<!-- Custom -->
	<h:outputScript library="js" name="app.js" />
</h:head>

<h:body>
	<div id="container" class="container">
		<div id="header" class="header">
			<ui:insert name="header">
				<ui:include src="header.xhtml"></ui:include>
			</ui:insert>
		</div>

		<div id="content">
			<div id="buttons" class="text-right">
				<ui:insert name="buttons" />
			</div>
			<ui:insert name="content" />
		</div>

		<div id="footer" class="footer">
			<ui:insert name="footer">
				<ui:include src="footer.xhtml"></ui:include>
			</ui:insert>
		</div>
	</div>


</h:body>
</html>