<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<ui:define name="title">Index</ui:define>

	<ui:define name="content">
		<h:form>
			<h:commandLink id="pessoa" title="Pessoa" value="Pessoa"
				action="/pages/pessoa/pessoa.xhtml?faces-redirect=true"></h:commandLink>
		</h:form>
	</ui:define>
</ui:composition>