<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="../../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<ui:define name="title">Pessoa</ui:define>

	<ui:define name="buttons">
		<h:commandButton id="salvar" value="Salvar"
			action="#{pessoaBean.salvar}" styleClass="btn btn-default">
			<f:ajax execute="formCadastro:panelCadastro"
				render="formCadastro:panelCadastro formCadastro:panelLista" />
		</h:commandButton>
		<h:commandButton id="novo" value="Novo" action="#{pessoaBean.novo}"
			styleClass="btn btn-default">
			<f:ajax execute="@this" render="formCadastro:panelCadastro" />
		</h:commandButton>
		<hr />
	</ui:define>

	<ui:define name="content">
		<h:form id="formCadastro">
			<h:panelGrid id="panelCadastro" columns="2">
				<h:outputText id="lbId" value="Id:" />
				<h:inputText id="id" value="#{pessoaBean.pessoa.id}" size="10"
					maxlength="10" />
				<h:outputText id="lbNome" value="Nome:" />
				<h:inputText id="nome" value="#{pessoaBean.pessoa.nome}" size="50"
					maxlength="50" />
			</h:panelGrid>

			<h:panelGrid id="panelLista">
				<h:dataTable value="#{pessoaBean.pessoas}" var="pessoa"
					styleClass="table table-striped">
					<h:column>
						<f:facet name="header">ID</f:facet>
						<h:outputText value="#{pessoa.id}" />
					</h:column>

					<h:column>
						<f:facet name="header">Nome</f:facet>
						<h:outputText value="#{pessoa.nome}" />
					</h:column>

					<h:column>
						<f:facet name="header">Acoes</f:facet>
						<h:commandLink id="btExcluir" value="Excluir"
							action="#{pessoaBean.excluir(pessoa)}">
							<f:ajax execute="@this" render="formCadastro:panelLista" />
						</h:commandLink>
						<h:outputText value=" "></h:outputText>
						<h:commandLink id="btAlterar" value="Alterar"
							action="#{pessoaBean.alterar(pessoa)}">
							<f:ajax execute="@none" render="formCadastro:panelCadastro" />
						</h:commandLink>
					</h:column>
				</h:dataTable>
			</h:panelGrid>
		</h:form>
	</ui:define>

</ui:composition>